{% extends "base.html" %}
{% block title %}
 Все пользователи
{% endblock %}


{% block header %}
<div class="title">Все пользователи: {{ all_users.count }}</div>
{% endblock %}

{% block content %}
<div class="row gtr-150">
   {% include "author_info.html" with author=request.user  %}
      <div class="col-8 col-12-medium imp-medium">

        {% for user in all_users %}
          <ul class="style3">
           {% load thumbnail %}
          {% thumbnail user.profile.avatar "100x100" crop="center" upscale=True as im %}
                  <a href="{% url 'posts:profile' user.username %}"><img style="margin-right: 25px; border-radius: 120px; float: left;" src="{{ im.url }}"/></a>
                   {% endthumbnail %}

          <p style= padding-left: 10px;>
                          {{user.get_full_name}}
              <br>
                  @ {{user.username}}
              <br>
              <sup>{{ user.profile.info }}</sup></p>


              </ul>
          <hr>


        {% endfor %}
      </div>
</div>
{% endblock %}