{% extends "base.html" %}

{% block title %} Последние обновления ленты избранных авторов{% endblock %}

{% block header %} {% include "menu.html" with follow=True %} {% endblock %}

{% block content %}
<div class="row gtr-150">
    {% include "popular.html" %}
      <div class="col-8 col-12-medium imp-medium">
        {% for post in page %}
        {% include "post_item.html" with post=post %}
        {% endfor %}
         {% if page.has_other_pages %}
         {% include "paginator.html" with page=page %}
         {% endif %}
      </div>
</div>


{% endblock %}

