<div id="content">
    <article class="box.post-excerpt">
        <header class="style1">
            {% if post.title %}
            <h2> {{post.title}} </h2>
             {% endif %}
            </header>

            <p>
             {% load thumbnail %}
              {% thumbnail post.image "1500x250" crop="center" upscale=True as im %}
                         <img class="image featured" src="{{ im.url }}">
             {% endthumbnail %}

              {{ post.text|linebreaksbr }}
            </p>

          {% load thumbnail %}
          {% thumbnail post.author.profile.avatar "50x50" crop="center" upscale=True as im %}
          <a href="{% url 'posts:profile' post.author.username %}"><img class="image left" style="border-radius: 120px;" src="{{ im.url }}"/></a>
          {% endthumbnail %}

          <h3 >{{post.author.get_full_name}}</h3>
          <p>
            {% load thumbnail %}
            {% thumbnail "like2.jpg" "40x40" crop="center" upscale=True as im %}
            <a href="{% url 'posts:like' post.author.username post.id %}"><img src="{{ im.url }}" /></a>
            {% endthumbnail %}

        {% if post.like.exists %}
          {{ post.like.count }}
        {% endif %}
          {% load thumbnail %}
          {% thumbnail "dislike2.jpg" "40x40" crop="center" upscale=True as im %}
          <a href="{% url 'posts:dislike' post.author.username post.id %}"><img src="{{ im.url }}" /></a>
          {% endthumbnail %}


        {% if post.dislike.exists %}
          {{ post.dislike.count }}
         {% endif %}
         </p>

          {% if post.comments.exists %}
          Комментариев: {{ post.comments.count }}
           {% endif %}

            <p >
           <small>{{ post.pub_date }}</small>
            </p>

           {% if post.group %}
             <a  href="{% url 'posts:group_posts' post.group.slug %}">
              <small> #{{ post.group.title }}</small>
              </a>
            {% endif %}

        <nav>
            <ul>
                 {% if user.is_authenticated %}
                <li>
                   <a href="{% url 'posts:post' post.author.username post.id %}" role="button">Подробнее</a>
                </li>
                {% endif %}

                {% if user == post.author %}
                   <li><a href="{% url 'posts:post_edit' post.author.username post.id %}" role="button">
                    Редактировать
                   </a></li>
                    <li><a href="{% url 'posts:post_delete' post.author.username post.id %}" role="button" onclick="return confirm( 'Вы уверены?')">
                    Удалить
                    </a></li>
                   {% endif %}
            </ul>
        </nav>
    </article>
</div>






