{% extends "base.html" %}
{% block title %}Вы вышли из системы{% endblock %}
{% block header %} <div class="title">Вы вышли из системы</div> {% endblock %}
{% block content %}




<div class="col-4 col-12-medium">
                    <div id="sidebar">
                        <section class="box">

                             </section>
                        </div>

                    </div>
<div class="col-8 col-12-medium imp-medium">
    <h2>Ждем Вас снова!</h2>
     </div>

{% endblock %} 